# Macのシステムファイル
.DS_Store

*.swp
/build/
__pycache__/
.python-version
/log/
/.mypy_cache/

# supervisor関連
matome-api.ini
operations.ini

.tox
mytoxtest.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.env
nosetests.xml
coverage.xml
*,cover
.hypothesis/

app/config/mail/env/*
app/config/gdrive/env/*
app/config/kintone/env/*

*.json
av_sommelier.py
odpt.py
qiita.py
instagram.py
tasks/who.py

# 最後に書く
!.gitkeep
